label {
  font-weight: 700;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

input[type="text"] {
  border-radius: 12px;
  background-color: #000;
  color: #fff;
  padding: 0.5rem;
  margin-bottom: 0.25rem;
}

input[type="submit"] {
  margin-top: 1rem;
  border-radius: 12px;
  padding: 1rem;
  background-color: #fff;
}
