@charset "UTF-8";

@import url("./reset.css");
@import url("./components/body.css");
@import url("./components/table.css");

h1 {
  text-align: center;
  color: #fff;
  font-size: 3.25rem;
  padding: 1rem;
}
